@tailwind base;
@tailwind components;
@tailwind utilities;

.winner {
    @apply rounded-full;
    box-shadow: 0 0 0 40px #2d3a5a, 0 0 0 80px #293a58, 0 0 0 130px #233656;
    animation: winner 1s ease forwards;
    z-index: 0;
}

@media screen and (min-width: 1024px) {
    .winner {
        box-shadow: 0 0 0 60px #2d3a5a, 0 0 0 100px #293a58, 0 0 0 140px #233656;
    }
}