@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply font-primary
}

.winner {
    @apply rounded-full;
    box-shadow: 0 0 0 40px #293251, 0 0 0 80px #232c4b, 0 0 0 130px #1e2949;
    animation: winner 1s ease forwards;
    z-index: 0;
}

@keyframes winner {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}